/* --- BASIC STYLES FOR BLOG PAGE --- */

.page-header {
    background-color: var(--gray-bg);
    padding: 50px 0;
    text-align: center;
}
.page-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.page-header p {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
}

.blog-post {
    padding: 40px 0;
    border-bottom: 1px solid #eee;
}

.blog-post:last-child {
    border-bottom: none;
}

.post-image-link img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.07);
}

.post-title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.post-title a {
    text-decoration: none;
    color: var(--dark-color);
    transition: color 0.3s ease;
}

.post-title a:hover {
    color: var(--button-default-blue);
}

.post-excerpt {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.read-more {
    font-weight: 600;
    text-decoration: none;
    color: var(--button-default-blue);
}

.active-submenu {
    color: #a8cfff !important;
}